@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese";
:root {
    font-size: 62.5%;
    --text-size-xxxxs: .8rem;
    --text-size-xxxs: 1rem;
    --text-size-xxs: 1.2rem;
    --text-size-xs: 1.4rem;
    --text-size-s: 1.6rem;
    --text-size-xsm: 1.8rem;
    --text-size-sm: 2rem;
    --text-size-m: 2.4rem;
    --text-size-l: 3.2rem;
    --text-size-xl: 4.8rem;
    --text-size-xxl: 6.4rem;
    --text-lh-xxs: 1;
    --text-lh-xs: 1.25;
    --text-lh-s: 1.4;
    --text-lh-m: 1.5;
    --text-lh-l: 1.75;
    --text-lh-xl: 2;
    --text-lh-xxl: 2.4;
    --text-weight-lighter: lighter;
    --text-weight-normal: normal;
    --text-weight-bold: bold;
    --text-weight-bolder: bolder;
    --text-align-left: start;
    --text-align-right: right;
    --text-align-center: center;
    --brand-white: #fff;
    --brand-dark-grey: #0e0e0e;
    --brand-red-coral: #ff444f;
    --brand-orange: #ff6444;
    --brand-secondary: #85acb0;
    --app-card-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --app-card-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
    --tw-border-opacity: 1;
}
.theme--light {
    --gradient-main-background: linear-gradient(135deg, #fff 0%, #e6f3ff 35%, #b3daff 70%, #ffd60a 100%);
    --gradient-card-background: linear-gradient(145deg, #ffffffe6 0%, #e6f3ffcc 50%, #b3daffb3 100%);
    --gradient-button-primary: linear-gradient(to right, #1a75ff, #0052cc);
    --gradient-status-card: linear-gradient(145deg, #ffffffe6 0%, #e6f3ffe6 100%);
    --gradient-active-card: linear-gradient(145deg, #e6f3ffe6 0%, #b3daffe6 100%);
    --general-main-1: #fff;
    --general-main-2: #fff;
    --general-main-3: #fff;
    --general-main-4: #fff;
    --general-section-1: #020e24;
    --general-section-2: #e6f3ff;
    --general-section-3: #cce7ff;
    --general-section-4: #b3daff;
    --general-section-5: #039;
    --general-section-6: #1a75ff;
    --general-disabled: #e6e6e6;
    --general-hover: #f5faff;
    --general-active: #cce7ff;
    --text-general: #0052cc;
    --text-primary: #000;
    --text-less-prominent: #000;
    --text-prominent: #fc0000;
    --text-disabled: #9cf;
    --text-disabled-1: #b3daff;
    --text-loss-danger: #f33;
    --text-profit-success: #00b300;
    --text-warning: #ffc107;
    --text-red: #f33;
    --text-green: #00b300;
    --text-blue: #0052cc;
    --text-info-blue: #1a75ff;
    --text-info-blue-background: #e6f3ff;
    --text-colored-background: #fff;
    --icon-light-background: #fff;
    --icon-dark-background: #0052cc;
    --icon-grey-background: #e6f3ff;
    --icon-black-plus: #0052cc;
    --text-status-info-blue: #1a75ff;
    --text-hint: #ffd60a;
    --purchase-main-1: #7ae07a;
    --purchase-section-1: #1c3f1c;
    --purchase-main-2: #ff6b8b;
    --purchase-section-2: #4d1821;
    --purchase-disabled-main: #001689;
    --purchase-disabled-section: #000d5c;
    --button-primary-default: #000435;
    --button-secondary-default: #000d5c;
    --button-tertiary-default: transparent;
    --button-primary-light-default: #001689;
    --button-primary-hover: #000328;
    --button-secondary-hover: #000328;
    --button-tertiary-hover: #000d5c;
    --button-primary-light-hover: #000328;
    --button-toggle-primary: #000435;
    --button-toggle-secondary: #000d5c;
    --button-toggle-alternate: #001689;
    --overlay-outside-dialog: #0d47a180;
    --overlay-inside-dialog: #ffffff1a;
    --shadow-menu: #0d47a14d;
    --shadow-menu-2: #0d47a133;
    --shadow-drop: #0d47a166;
    --shadow-box: #0d47a133;
    --state-normal: #2196f3;
    --state-hover: #1e88e5;
    --state-active: #1976d2;
    --state-disabled: #bbdefb;
    --checkbox-disabled-grey: #90caf9;
    --sidebar-tab: #e3f2fd;
    --border-normal: #64b5f6;
    --border-normal-1: #42a5f5;
    --border-normal-2: #2196f3;
    --border-normal-3: #1e88e5;
    --border-hover: #1976d2;
    --border-hover-1: #1565c0;
    --border-active: #0d47a1;
    --border-disabled: #bbdefb;
    --border-divider: #90caf9;
    --fill-normal: #e3f2fd;
    --fill-normal-1: #bbdefb;
    --fill-hover: #90caf9;
    --fill-active: #64b5f6;
    --fill-disabled: #bbdefb;
    --status-default: #2196f3;
    --status-adjustment: #1e88e5;
    --status-danger: #ff6b8b;
    --status-success: #7ae07a;
    --status-warning: #ffd966;
    --status-warning-transparent: #ffd9661a;
    --status-transfer: #ffaa4d;
    --status-info: #2196f3;
    --status-colored-background: #fff;
    --status-alert-background: #e3f2fd;
    --dashboard-swap-free: linear-gradient(to right, #2196f3, #1976d2);
    --dashboard-app: linear-gradient(to right, #2196f3, #1e88e5);
    --transparent-success: #7ae07a26;
    --transparent-info: #2196f326;
    --transparent-hint: #2196f31a;
    --transparent-danger: #ff6b8b26;
    --transparent-correct-message: #1c3f1c;
    --transparent-fake-message: #4d1821;
    --gradient-success: linear-gradient(to right, #7ae07a, #a7eb88);
    --gradient-danger: linear-gradient(to right, #ff1a52, #ff6b8b);
    --contract-gradient-danger: linear-gradient(to right, #4d1821, #5f1e29);
    --gradient-right-edge: linear-gradient(to right, #e3f2fd00, #e3f2fd);
    --gradient-blue: linear-gradient(to right, #2196f3, #1976d2);
    --gradient-gold: linear-gradient(to right, #ffd966, #ffe9aa);
    --gradient-green: linear-gradient(to right, #7ae07a, #a7eb88);
    --badge-white: #fff;
    --badge-blue: #2196f3;
    --badge-violet: #d580ff;
    --badge-green: #7ae07a;
    --traders-hub-banner-border-color: #1e88e5;
    --demo-text-color-1: #1976d2;
    --demo-text-color-2: #0d47a1;
    --header-background-mt5: #1e88e5;
    --header-background-others: #2196f3;
}
.theme--dark {
    --general-main-1: #0e0e0e;
    --general-main-2: #151717;
    --general-main-3: #1d1f20;
    --general-main-4: #0e0e0e80;
    --general-section-1: #151717;
    --general-section-2: #0e0e0e;
    --general-section-3: #242828;
    --general-section-4: #242828;
    --general-section-5: #242828;
    --general-section-6: #6e6e6e;
    --general-disabled: #1d1f20;
    --general-hover: #242828;
    --general-active: #323738;
    --text-prominent: #fc0000;
    --text-general: #fc0000;
    --text-less-prominent: #fc0000;
    --text-primary: #fc0000;
    --text-disabled: #3e3e3e;
    --text-disabled-1: #3e3e3e;
    --text-profit-success: #00a79e;
    --text-loss-danger: #cc2e3d;
    --text-red: #ff444f;
    --text-colored-background: #fff;
    --text-info-blue: #92b8ff;
    --text-info-blue-background: #182130;
    --text-status-info-blue: #377cfc;
    --text-hint: #c2c2c2;
    --icon-light-background: #5c5c5c;
    --icon-dark-background: #fff;
    --icon-grey-background: #333;
    --icon-black-plus: #fff;
    --purchase-main-1: #00a79e;
    --purchase-section-1: #008079;
    --purchase-main-2: #cc2e3d;
    --purchase-section-2: #a32430;
    --purchase-disabled-main: #1d1f20;
    --purchase-disabled-section: #0e0e0e;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #6e6e6e;
    --button-tertiary-default: transparent;
    --button-primary-light-default: #ff444f29;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: #ffffff14;
    --button-tertiary-hover: #ff444f14;
    --button-primary-light-hover: #ff444f3d;
    --button-toggle-primary: #0796e0;
    --button-toggle-secondary: #323738;
    --button-toggle-alternate: #323738;
    --button-get-started-bg: #fff;
    --overlay-outside-dialog: #000000b8;
    --overlay-inside-dialog: #0e0e0ef5;
    --shadow-menu: #000000d6;
    --shadow-menu-2: #000000b8;
    --shadow-drop: #000000a3;
    --shadow-box: #555975;
    --state-normal: #0e0e0e;
    --state-hover: #242828;
    --state-active: #323738;
    --state-disabled: #1d1f20;
    --checkbox-disabled-grey: #d6d6d6;
    --sidebar-tab: #6e6e6e;
    --border-normal: #323738;
    --border-normal-1: #d6dadb;
    --border-normal-2: #999;
    --border-normal-3: #6e6e6e;
    --border-hover: #6e6e6e;
    --border-hover-1: #5c5c5c;
    --border-active: var(--brand-secondary);
    --border-disabled: #1d1f20;
    --border-divider: #2e2e2e;
    --fill-normal: #0e0e0e;
    --fill-normal-1: #333;
    --fill-hover: #6e6e6e;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #1d1f20;
    --status-default: #eaeced;
    --status-adjustment: #999;
    --status-danger: #cc2e3d;
    --status-warning: #ffad3a;
    --status-warning-transparent: #ffad3a29;
    --status-success: #00a79e;
    --status-transfer: #ff6444;
    --status-info: #377cfc;
    --status-colored-background: #fff;
    --status-alert-background: #ffad3a29;
    --transparent-success: #00a79eeb;
    --transparent-info: #377cfc29;
    --transparent-hint: #377cfc29;
    --transparent-danger: #ff444f29;
    --transparent-correct-message: #4bb4b329;
    --transparent-fake-message: #ec3f3f29;
    --gradient-success: linear-gradient(to top, #0e0e0e, #00a79e29);
    --gradient-danger: linear-gradient(to top, #0e0e0e, #ff444f29);
    --contract-gradient-danger: linear-gradient(to top, #0e0e0e 85%, #ff444f29);
    --gradient-right-edge: linear-gradient(to right, #0e0e0e00 -5%, #0e0e0e 71%);
    --gradient-blue: linear-gradient(90deg, #00a8af 0%, #04cfd8 104.41%);
    --gradient-gold: linear-gradient(90deg, #f7931a 0%, #ffc71b 104.41%);
    --gradient-green: linear-gradient(90deg, #1db193 0%, #09da7a 104.41%);
    --badge-white: #fff;
    --badge-blue: #0677af;
    --badge-violet: #2a3052;
    --badge-green: #00a79e;
    --traders-hub-banner-border-color: #242828;
    --demo-text-color-1: #333;
    --demo-text-color-2: #333;
    --header-background-mt5: #e6f5ff;
    --header-background-others: #e8fdf8;
}
body {
    background: var(--general-main-1);
    font-family: IBM Plex Sans, sans-serif;
}

.icon-general-fill-path path,
.icon-general-fill-g-path g path {
    fill: var(--text-general);
}
/* Blockly Editor Theme */
.theme--dark .blocklyDropDownDiv {
    background-color: #c2c2c2 !important;
    border-color: #c2c2c2 !important;
}

.theme--dark .zelos-renderer.zelos_renderer-theme .blocklyMainBackground,
.theme--dark .load-strategy__container .blocklyMainBackground,
.theme--dark .zelos-renderer.zelos_renderer-theme rect.blocklyFieldRect.blocklyDropdownRect,
.theme--dark .zelos-renderer.zelos_renderer-theme .blocklyNonEditableText > rect:not(.blocklyDropdownRect),
.theme--dark .zelos-renderer.zelos_renderer-theme .blocklyEditableText > rect:not(.blocklyDropdownRect),
.theme--dark .zelos-renderer.zelos_renderer-theme .blocklyPath[fill=\#fff],
.theme--dark .blocklyVariableGet .blocklyPath,
.theme--dark .blocklyOutlinePath {
    fill: #0e0e0e !important;
}

.theme--dark .flyout rect.blocklyFieldRect.blocklyDropdownRect,
.theme--dark .flyout .zelos-renderer.classic-theme .blocklyMainBackground {
    fill: #151816 !important;
}

.theme--dark .zelos-renderer.zelos_renderer-theme .blocklyEditableText > image,
.theme--dark .zelos-renderer.zelos_renderer-theme .blocklyNonEditableText > image {
    filter: unset;
}

.theme--dark .flyout .zelos-renderer.classic-theme .blocklyEditableText > image {
    filter: invert(0);
}

.theme--dark .zelos-renderer.classic-theme .blocklyNonEditableText > rect:not(.blocklyDropdownRect),
.theme--dark .zelos-renderer.classic-theme .blocklyEditableText > rect:not(.blocklyDropdownRect) {
    fill: unset;
}

.flyout .injectionDiv {
    height: 100%;
}

.flyout .zelos-renderer.classic-theme .blocklyMainBackground {
    filter: unset;
}
@keyframes blink-effect {
    0% {
        stroke: red;
        stroke-width: 5px;
    }
    50% {
        stroke: #ff0;
        stroke-width: 8px;
    }
    to {
        stroke: red;
        stroke-width: 5px;
    }
}

@keyframes fade-in-out {
    0% {
        stroke-opacity: 0;
    }
    50% {
        stroke-opacity: 1;
        stroke-width: 6px;
    }
    to {
        stroke-opacity: 0;
    }
}
.zelos-renderer.zelos_renderer-theme .block--error-highlighted > .blocklyPath,
.flyout .zelos-renderer.classic-theme .block--error-highlighted > .blocklyPath,
.gtm-search-results .block--error-highlighted > .blocklyPath,
.load-strategy__container .block--error-highlighted > .blocklyPath {
    stroke: red;
    stroke-width: 5px;
}

.zelos-renderer.zelos_renderer-theme .block--execution-highlighted > .blocklyPath,
.flyout .zelos-renderer.classic-theme .block--execution-highlighted > .blocklyPath,
.gtm-search-results .block--execution-highlighted > .blocklyPath,
.load-strategy__container .block--execution-highlighted > .blocklyPath {
    stroke: #89b2af;
    animation: 1.5s fade-in-out;
}

.zelos-renderer.zelos_renderer-theme .block--blink > .blocklyPath,
.flyout .zelos-renderer.classic-theme .block--blink > .blocklyPath,
.gtm-search-results .block--blink > .blocklyPath,
.load-strategy__container .block--blink > .blocklyPath {
    animation: 1s infinite blink-effect;
}
.zelos-renderer.zelos_renderer-theme .blocklySvg,
.flyout .zelos-renderer.classic-theme .blocklySvg,
.gtm-search-results .blocklySvg,
.load-strategy__container .blocklySvg {
    outline: none;
    display: block;
    position: absolute;
    overflow: hidden;
}

.zelos-renderer.zelos_renderer-theme .blocklyRelativeWrapper,
.flyout .zelos-renderer.classic-theme .blocklyRelativeWrapper,
.gtm-search-results .blocklyRelativeWrapper,
.load-strategy__container .blocklyRelativeWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.zelos-renderer.zelos_renderer-theme .blocklyWidgetDiv,
.flyout .zelos-renderer.classic-theme .blocklyWidgetDiv,
.gtm-search-results .blocklyWidgetDiv,
.load-strategy__container .blocklyWidgetDiv {
    z-index: 99999;
    display: none;
    position: absolute;
}

.zelos-renderer.zelos_renderer-theme .blocklyNonSelectable,
.flyout .zelos-renderer.classic-theme .blocklyNonSelectable,
.gtm-search-results .blocklyNonSelectable,
.load-strategy__container .blocklyNonSelectable {
    -webkit-user-select: none;
    user-select: none;
}
.dc-btn {
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: #0000;
    border: 0;
    border-radius: 4px;
    outline: 0;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    padding: 0 1.6rem;
    text-decoration: none;
    transition: all .2s cubic-bezier(.65,.05,.36,1);
    display: inline-flex;
    position: relative;
    text-transform: none !important;
}

.dc-btn__toggle {
    height: auto;
    padding: .8rem 2.5rem;
}

.dc-btn__text,
.dc-btn__icon {
    pointer-events: none;
    display: flex;
}

.dc-btn__icon {
    color: var(--text-general);
    text-transform: unset;
    text-align: center;
    pointer-events: none;
    padding-right: .8rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

.dc-btn__icon--circle {
    padding-right: 0;
}

.dc-btn:not([disabled]):hover {
    text-decoration: none;
}

.dc-btn__rounded {
    border-radius: 24px;
}

.dc-btn--plus {
    background: inherit;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 2.4rem;
    border: 1px solid var(--border-hover) !important;
    height: 2.4rem !important;
    padding: 0 !important;
}

.dc-btn--circle {
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem !important;
}

.dc-btn--circular {
    border-radius: 100px;
}

.dc-btn--transparent {
    background: 0 0;
}

.dc-btn--primary {
    background: var(--button-primary-default);
    color: var(--text-colored-background);
}

.dc-btn--primary:hover:not([disabled]) {
    background: var(--button-primary-hover);
}

.dc-btn--primary:active:not([disabled]) {
    background: var(--button-primary-default);
}

.dc-btn--primary:disabled,
.dc-btn--primary[disabled] {
    opacity: .32;
    cursor: not-allowed !important;
}

.dc-btn--primary .dc-btn__text,
.dc-btn--primary .dc-btn__icon {
    color: var(--text-colored-background);
}

.dc-btn--primary .dc-btn__icon {
    padding-right: 0;
    padding-inline-end: .8rem;
}
.dc-dialog {
    text-align: center;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dc-dialog__wrapper {
    z-index: 999;
    background-color: var(--overlay-outside-dialog);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: opacity .25s cubic-bezier(.25,.1,.1,.25);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.dc-dialog__wrapper--enter,
.dc-dialog__wrapper--exit {
    opacity: 0;
}

.dc-dialog__wrapper--enter .dc-dialog__dialog,
.dc-dialog__wrapper--exit .dc-dialog__dialog {
    opacity: 0;
    transform: translateY(50px);
}

.dc-dialog__wrapper--enter-done {
    opacity: 1;
}

.dc-dialog__wrapper--enter-done .dc-dialog__dialog {
    opacity: 1;
    transform: translate(0,0);
}

.dc-dialog__wrapper--has-portal {
    background-color: #0000;
}

.dc-dialog__dialog {
    box-sizing: border-box;
    min-width: 440px;
    max-width: 560px;
    min-height: 176px;
    max-height: 338px;
    box-shadow: 0 2px 8px 0 var(--shadow-menu);
    background-color: var(--general-main-2);
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: -48px;
    padding: 2.4rem;
    transition: transform .25s cubic-bezier(.25,.1,.1,.25),opacity .25s cubic-bezier(.25,.1,.1,.25);
    display: flex;
}
.barspinner {
    white-space: nowrap;
    width: 6rem;
    height: 2rem;
    margin: auto;
}

.barspinner__rect {
    border-radius: 20px;
    width: .6rem;
    height: 60%;
    margin: .4rem;
    animation: 1.2s ease-in-out infinite sk-stretchdelay;
    display: inline-block;
}

.barspinner__rect--1 {
    animation-delay: -1.2s;
}

.barspinner__rect--2 {
    animation-delay: -1.1s;
}

.barspinner__rect--3 {
    animation-delay: -1s;
}

.barspinner__rect--4 {
    animation-delay: -.9s;
}

.barspinner__rect--5 {
    animation-delay: -.8s;
}

.barspinner--dark .barspinner__rect {
    background-color: var(--brand-secondary);
}

@keyframes sk-stretchdelay {
    0%, 40%, to {
        transform: scaleY(1);
    }
    20% {
        transform: scaleY(2);
    }
}

.initial-loader {
    background: 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
}

.initial-loader--fullscreen {
    width: 100vw;
    height: 100vh;
}

@media (min-width: 1280px) {
    .initial-loader--fullscreen {
        height: calc(100vh - 84px);
    }
}

@media (max-width: 1279px) {
    .initial-loader--fullscreen {
        height: calc(100vh - 40px);
    }
}

.initial-loader__barspinner {
    margin: 5rem auto;
}

.initial-loader__barspinner--rect {
    background-color: var(--brand-secondary);
}
.dc-expansion-panel__header-container {
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    display: flex;
}

.dc-expansion-panel__header-chevron-icon {
    cursor: pointer;
    transition: transform .3s;
    transform: rotate(0);
}

.dc-expansion-panel__header-active .dc-expansion-panel__header-chevron-icon {
    transform: rotate(180deg);
}

.dc-expansion-panel__header-active {
    margin-bottom: 1.6rem;
}

.dc-expansion-panel__content-array {
    font-size: var(--text-size-xxs);
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.5;
    display: flex;
}

.dc-expansion-panel__content-chevron-icon {
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    transition: transform .3s;
    transform: rotate(0);
}

.dc-expansion-panel__content-active .dc-expansion-panel__content-chevron-icon {
    transform: rotate(90deg);
}

.dc-expansion-panel__content-array-item-index {
    margin-right: 4px;
}
.notify__item-button {
    margin-top: 8px;
    margin-left: 100%;
    transform: translate(-100%);
    height: 2.8rem !important;
}

.notify__item-button .btn__text {
    font-size: var(--text-size-xxs);
}

.notify__item-container {
    align-items: center;
    display: flex;
}

.notify__item-message {
    font-size: var(--text-size-xxs);
    margin-left: 8px;
    line-height: 1.2;
}
.endpoint {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    display: flex;
}

.endpoint__title {
    margin-bottom: 2rem;
}

.endpoint__form {
    flex-direction: column;
    gap: 3rem;
    display: flex;
}

.endpoint__button {
    margin-right: 1rem;
}

@media (max-width: 1279px) {
    .endpoint {
        height: unset;
        padding-top: 2rem;
    }
}
.app-root {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
    display: flex;
}

.app-root .load-message {
    margin-top: 6rem;
}
